<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lsq.sudoku">

    <application
        android:allowBackup="true"
        android:icon="@drawable/bgc"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sudoku">
        <activity android:name=".LoginActivity" />
        <activity android:name=".fragment_on_boarding3" />
        <activity android:name=".fragment_on_boarding2" />
        <activity android:name=".fragment_on_boarding1" />
        <activity
            android:name=".IntroductoryActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GameActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>